resources:
  'entity:node':
    GET:
      supported_formats:
        - hal_json
      supported_auth:
        - basic_auth
    POST:
      supported_formats:
        - hal_json
      supported_auth:
        - basic_auth
  'entity:comment':
    GET:
      supported_formats:
        - hal_json
      supported_auth:
        - basic_auth
    POST:
      supported_formats:
        - hal_json
      supported_auth:
        - basic_auth
  'entity:user':
    GET:
      supported_formats:
        - hal_json
      supported_auth:
        - basic_auth
  'entity:taxonomy_vocabulary':
    GET:
      supported_formats:
        - hal_json
      supported_auth:
        - basic_auth
