# Drupal 8 drush alias
DRUSH_ALIAS="@drupal.d8"
# DRUSH_ALIAS="--url=http://drupal.d8 --root=path-to-drupal-8

# Uncomment when needing verbose info into
# DRUSH_ALIAS="$DRUSH_ALIAS --verbose"

# Rest server
URL=http://drupal.d8

# Use git package handler
PACKAGE_HANDLER="--package-handler=git_drupalorg"
# PACKAGE_HANDLER=""

# admin user used to configure drupal
USER_1="admin:admin"

CURL_USER="admin:admin"

# Where to pipe using pretty print: cat, json_pp, pjson, prettyjson
JSON_PRETTY_PRINT=cat

# resources
RESOURCE_node=node/1
RESOURCE_user=user/1
RESOURCE_comment=comment/1

# Depends on https://www.drupal.org/node/2310307
RESOURCE_file=entity/file/1

# Depends on https://www.drupal.org/node/2100637
# Needs a rest views display on /node
RESOURCE_nodes=node
