resources:
  'entity:node':
    GET:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    POST:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    DELETE:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    PATCH:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
# https://www.drupal.org/node/2344151
  'entity:comment':
    GET:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    POST:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    DELETE:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    PATCH:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
  'entity:user':
    GET:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    POST:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    DELETE:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    PATCH:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
  'entity:file':
    GET:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    POST:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    DELETE:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
    PATCH:
      supported_formats:
        - hal_json
        - json
      supported_auth:
        - basic_auth
        - cookie
# Expose Config Entities (only get as other access seems political incorrect)
'entity:taxonomy_term':
  GET:
    supported_formats:
      - hal_json
      - json
    supported_auth:
      - basic_auth
      - cookie
'entity:menu':
  GET:
    supported_formats:
      - hal_json
      - json
    supported_auth:
      - basic_auth
      - cookie
