# Drupal 8 drush alias
DRUSH_ALIAS="drupal.d8"
# Change this if you want verbose info into
# DRUSH_ALIAS="drupal.d8 --verbose"

# Rest server
URL=http://drupal.d8

# Use git package handler
# PACKAGE_HANDLER="--package-handler=git_drupalorg"
PACKAGE_HANDLER=""
